<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<script>
    function FollowSinger(userid,index) {
        var btn_id = "focus"+index;
        var word_id = "word"+index;
        $.ajax({
            type:"GET",
            url:"/profile/changeFollowSinger",
            data:{
                id:userid
            },
            dataType:"json",   //返回值类型       使用json的话也可以，但是需要在JS中编写迭代的html代码，如果格式样式
            cache:true,
            success:function(dataObj) {
                var tab = document.getElementById(btn_id);
                var word = document.getElementById(word_id);
                var follownum = word.getAttribute('data-focusnum');
                var num = parseInt(follownum);
                if (dataObj.succ === '1') {
                    if (dataObj.flag === '1') {
                        num ++;
                        tab.innerHTML="取消关注";
                        alert('关注成功');
                    } else {
                        num --;
                        tab.innerHTML="关注";
                        alert('取消关注成功');
                    }
                    word.innerHTML=num+"人已关注";
                    word.setAttribute('data-focusnum',num);
                }
                else
                    alert('请求失败');
            }
        });
    }
</script>
<body>
<a href="javascript:;" class="mod_btn btn_focus_fan js_focus_friends" style="display: block;"><img src="../image/Index_image/add_more.png" alt="add_more" class="operate_btn">关注更多歌手</a>
<div class="js_sub" id="focus_singer_box" style="display: block;">
    <div class="mod_singer_list mod_singer_list--fans">
        <ul class="singer_list__list">

            <li class="singer_list__item" th:each="list,iterStat:${Follows}">
                <div class="singer_list__item_box">
                    <a th:href="@{'/Singer?singerid='+${list.getSingerid()}}" class="singer_list__cover js_singer">
                        <img class="singer_list__pic" src="//y.gtimg.cn/music/photo_new/T001R150x150M000001Y2Gbc2Xt1hU.jpg?max_age=2592000" onerror="this.src='//y.gtimg.cn/mediastyle/global/img/singer_300.png?max_age=31536000';this.error=null;" >
                    </a>
                    <h3 class="singer_list__title"><a th:href="@{'/Singer?singerid='+${list.getSingerid()}}" class="js_singer" title="Michael Jackson" th:text="${list.getSingername()}"></a></h3>
                    <p class="singer_list__info" th:data-focusnum="${FollowNum.get(iterStat.index)}" th:id="'word'+${iterStat.index}" th:text="${FollowNum.get(iterStat.index)}+'人已关注'"></p>
                    <div class="singer_list__focus">
                        <a href="javascript:;" class="mod_btn singer_list__btn_focus js_follow_singer" ><span class="btn_focus__cont" th:id="'focus'+${iterStat.index}" th:onclick="FollowSinger([[${list.getSingerid()}]],[[${iterStat.index}]]);" th:text="${isFollow.get(iterStat.index)}?'已关注':'未关注'"></span></a>
                    </div>
                </div>
            </li>

        </ul>
    </div>
</div>
</body>
</html>