<!DOCTYPE html>
<body>
    <a href="javascript:;" class="mod_btn btn_focus_fan js_focus_friends" style="display: block;"><img src="../image/Index_image/add_more.png" alt="add_more" class="operate_btn">关注更多歌手</a>
    <div class="js_sub" id="focus_singer_box" style="display: block;">
        <div class="mod_singer_list mod_singer_list--fans">
            <ul class="singer_list__list">
                <li class="singer_list__item">
                    <div class="singer_list__item_box">
                        <a href="https://y.qq.com/n/yqq/singer/001Y2Gbc2Xt1hU.html" class="singer_list__cover js_singer" hidefocus="true" data-mid="001Y2Gbc2Xt1hU" data-id="4712">
                            <img class="singer_list__pic" src="//y.gtimg.cn/music/photo_new/T001R150x150M000001Y2Gbc2Xt1hU.jpg?max_age=2592000" onerror="this.src='//y.gtimg.cn/mediastyle/global/img/singer_300.png?max_age=31536000';this.error=null;" alt="Michael Jackson">
                        </a>
                        <h3 class="singer_list__title"><a href="https://y.qq.com/n/yqq/singer/001Y2Gbc2Xt1hU.html" data-mid="001Y2Gbc2Xt1hU" data-id="4712" class="js_singer" title="Michael Jackson">Michael Jackson</a></h3>
                        <p class="singer_list__info">204万人关注</p>
                        <div class="singer_list__focus">
                            <a href="javascript:;" class="mod_btn singer_list__btn_focus js_follow_singer" data-follow="1" data-mid="001Y2Gbc2Xt1hU" data-id="4712"><span class="btn_focus__cont">已关注</span></a>
                        </div>
                    </div>
                </li>
                <li class="singer_list__item">
                    <div class="singer_list__item_box">
                        <a href="https://y.qq.com/n/yqq/singer/001Y2Gbc2Xt1hU.html" class="singer_list__cover js_singer" hidefocus="true" data-mid="001Y2Gbc2Xt1hU" data-id="4712">
                            <img class="singer_list__pic" src="//y.gtimg.cn/music/photo_new/T001R150x150M000001Y2Gbc2Xt1hU.jpg?max_age=2592000" onerror="this.src='//y.gtimg.cn/mediastyle/global/img/singer_300.png?max_age=31536000';this.error=null;" alt="Michael Jackson">
                        </a>
                        <h3 class="singer_list__title"><a href="https://y.qq.com/n/yqq/singer/001Y2Gbc2Xt1hU.html" data-mid="001Y2Gbc2Xt1hU" data-id="4712" class="js_singer" title="Michael Jackson">Michael Jackson</a></h3>
                        <p class="singer_list__info">204万人关注</p>
                        <div class="singer_list__focus">
                            <a href="javascript:;" class="mod_btn singer_list__btn_focus js_follow_singer" data-follow="1" data-mid="001Y2Gbc2Xt1hU" data-id="4712"><span class="btn_focus__cont">已关注</span></a>
                        </div>
                    </div>
                </li>
                <li class="singer_list__item">
                    <div class="singer_list__item_box">
                        <a href="https://y.qq.com/n/yqq/singer/001Y2Gbc2Xt1hU.html" class="singer_list__cover js_singer" hidefocus="true" data-mid="001Y2Gbc2Xt1hU" data-id="4712">
                            <img class="singer_list__pic" src="//y.gtimg.cn/music/photo_new/T001R150x150M000001Y2Gbc2Xt1hU.jpg?max_age=2592000" onerror="this.src='//y.gtimg.cn/mediastyle/global/img/singer_300.png?max_age=31536000';this.error=null;" alt="Michael Jackson">
                        </a>
                        <h3 class="singer_list__title"><a href="https://y.qq.com/n/yqq/singer/001Y2Gbc2Xt1hU.html" data-mid="001Y2Gbc2Xt1hU" data-id="4712" class="js_singer" title="Michael Jackson">Michael Jackson</a></h3>
                        <p class="singer_list__info">204万人关注</p>
                        <div class="singer_list__focus">
                            <a href="javascript:;" class="mod_btn singer_list__btn_focus js_follow_singer" data-follow="1" data-mid="001Y2Gbc2Xt1hU" data-id="4712"><span class="btn_focus__cont">已关注</span></a>
                        </div>
                    </div>
                </li>
                <li class="singer_list__item">
                    <div class="singer_list__item_box">
                        <a href="https://y.qq.com/n/yqq/singer/001Y2Gbc2Xt1hU.html" class="singer_list__cover js_singer" hidefocus="true" data-mid="001Y2Gbc2Xt1hU" data-id="4712">
                            <img class="singer_list__pic" src="//y.gtimg.cn/music/photo_new/T001R150x150M000001Y2Gbc2Xt1hU.jpg?max_age=2592000" onerror="this.src='//y.gtimg.cn/mediastyle/global/img/singer_300.png?max_age=31536000';this.error=null;" alt="Michael Jackson">
                        </a>
                        <h3 class="singer_list__title"><a href="https://y.qq.com/n/yqq/singer/001Y2Gbc2Xt1hU.html" data-mid="001Y2Gbc2Xt1hU" data-id="4712" class="js_singer" title="Michael Jackson">Michael Jackson</a></h3>
                        <p class="singer_list__info">204万人关注</p>
                        <div class="singer_list__focus">
                            <a href="javascript:;" class="mod_btn singer_list__btn_focus js_follow_singer" data-follow="1" data-mid="001Y2Gbc2Xt1hU" data-id="4712"><span class="btn_focus__cont">已关注</span></a>
                        </div>
                    </div>
                </li>
                <li class="singer_list__item">
                    <div class="singer_list__item_box">
                        <a href="https://y.qq.com/n/yqq/singer/001Y2Gbc2Xt1hU.html" class="singer_list__cover js_singer" hidefocus="true" data-mid="001Y2Gbc2Xt1hU" data-id="4712">
                            <img class="singer_list__pic" src="//y.gtimg.cn/music/photo_new/T001R150x150M000001Y2Gbc2Xt1hU.jpg?max_age=2592000" onerror="this.src='//y.gtimg.cn/mediastyle/global/img/singer_300.png?max_age=31536000';this.error=null;" alt="Michael Jackson">
                        </a>
                        <h3 class="singer_list__title"><a href="https://y.qq.com/n/yqq/singer/001Y2Gbc2Xt1hU.html" data-mid="001Y2Gbc2Xt1hU" data-id="4712" class="js_singer" title="Michael Jackson">Michael Jackson</a></h3>
                        <p class="singer_list__info">204万人关注</p>
                        <div class="singer_list__focus">
                            <a href="javascript:;" class="mod_btn singer_list__btn_focus js_follow_singer" data-follow="1" data-mid="001Y2Gbc2Xt1hU" data-id="4712"><span class="btn_focus__cont">已关注</span></a>
                        </div>
                    </div>
                </li>
                <li class="singer_list__item">
                    <div class="singer_list__item_box">
                        <a href="https://y.qq.com/n/yqq/singer/001Y2Gbc2Xt1hU.html" class="singer_list__cover js_singer" hidefocus="true" data-mid="001Y2Gbc2Xt1hU" data-id="4712">
                            <img class="singer_list__pic" src="//y.gtimg.cn/music/photo_new/T001R150x150M000001Y2Gbc2Xt1hU.jpg?max_age=2592000" onerror="this.src='//y.gtimg.cn/mediastyle/global/img/singer_300.png?max_age=31536000';this.error=null;" alt="Michael Jackson">
                        </a>
                        <h3 class="singer_list__title"><a href="https://y.qq.com/n/yqq/singer/001Y2Gbc2Xt1hU.html" data-mid="001Y2Gbc2Xt1hU" data-id="4712" class="js_singer" title="Michael Jackson">Michael Jackson</a></h3>
                        <p class="singer_list__info">204万人关注</p>
                        <div class="singer_list__focus">
                            <a href="javascript:;" class="mod_btn singer_list__btn_focus js_follow_singer" data-follow="1" data-mid="001Y2Gbc2Xt1hU" data-id="4712"><span class="btn_focus__cont">已关注</span></a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>