<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>个人主页</title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/main.css" rel="stylesheet">
    <link href="../css/PersonalMessage.css" rel="stylesheet">
    <link href="../css/like_song.css" rel="stylesheet">
    <script src="../JS/jquery-3.3.1.min.js"></script>
    <script src="../JS/bootstrap.min.js"></script>
    <script src="../JS/main_js.js"></script>
    <style>
        body {
            background-color: #fafafa;
        }
        .mod_songlist {
            padding-bottom:50px;
            min-height:400px;
        }
    </style>
<body>
    <div class="mod_songlist" id="flushDIV">
        <div class="mod_songlist_toolbar">
            <a href="javascript:;" class="mod_btn_blue js_all_play"><i class="mod_btn_green__icon_play"></i><img src="../image/Index_image/mod_play.png" class="operate_btn" alt="play">播放全部</a>
            <a href="javascript:;" class="mod_btn js_all_fav"><i class="mod_btn__icon_add"></i><img src="../image/Index_image/mod_add.png" class="operate_btn" alt="add">添加到</a>
            <a href="javascript:;" class="mod_btn js_all_down"><i class="mod_btn__icon_down"></i><img src="../image/Index_image/mod_download.png" class="operate_btn" alt="download">下载</a>
            <a href="javascript:;" class="mod_btn js_batch"><i class="mod_btn__icon_batch"></i><img src="../image/Index_image/mod_multoperate.png" class="operate_btn" alt="operate">批量操作</a>
        </div>
        <ul class="songlist__header">
            <li class="songlist__header_name">歌曲</li>
            <li class="songlist__header_album">专辑</li>
            <li class="songlist__header_author">歌手</li>
            <li class="songlist__header_time">时长</li>
        </ul>
        <!--/*@thymesVar id="songs" type="com.example.demo.entity.Song"*/-->
        <div th:each="song,iterStat:${songs}">
            <ul th:class="${iterStat.odd}? 'songlistlist1 submeau_1' : 'songlistlist2 submeau_2'" th:onmouseover="'javascript:buttonShow(\''+${iterStat.index}+'\')'" th:onmouseout="'javascript:buttonhide(\''+${iterStat.index}+'\')'" >
                <li class="songlist__name" th:text="${song.getSongname()}"></li>
                <div class="songlist__btn"  th:id="'oa_'+${iterStat.index}">
                    <span><a href="#"><img src="../image/Index_image/play.png" alt="play" height="35px" width="35px" class="songlist_btn"/></a></span>
                    <span><a href="#"><img src="../image/Index_image/like.png" alt="like" height="35px" width="35px" class="songlist_btn"/></a></span>
                    <span><a href="#"><img src="../image/Index_image/add.png" alt="add" height="35px" width="35px" class="songlist_btn"/></a></span>
                    <span><a href="#"><img src="../image/Index_image/download.png" alt="download" height="35px" width="35px" class="songlist_btn"/></a></span>
                </div>
                <li class="songlist__header_album" th:text="${albums.get(iterStat.index).getAlbumname()}">Immediate Music</li>
                <li class="songlist__header_author" th:text="${singername.get(iterStat.index)}">Immediate Music</li>
                <li class="songlist__header_time" th:text="${song.getLength()}"></li>
            </ul>
        </div>
    </div>
</body>
</html>