<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<script>
    $(document).ready(function(){
        /*<![CDATA[*/
        var size = [[${songlist.size()}]]
        /*]]>*/
        for (var num =0; num<size; num++) {
            $("#oa_"+num).hide();
        }
    });
    function show_form_details() {
        /*<![CDATA[*/
        var id = [[${session.visted.getUserid()}]];
        /*]]>*/
        $.ajax({
            type:"GET",
            url:"/profile/like_song_songlist_typeList",
            data:{String:id,flag:"2"},
            dataType: "html",
            cache:true,
            success:function(data){
                $('#toFlush').html(data);
                var list = document.getElementById('list');
                var form = document.getElementById('form');
                list.className = 'style_switch__item_right';
                form.className = 'style_switch__item style_switch__item--select';
            }
        });
    }
    function show_list_details() {
        /*<![CDATA[*/
        var id = [[${session.visted.getUserid()}]];
        /*]]>*/
        $.ajax({
            type:"GET",
            url:"/profile/like_song_songlist_typeList",
            data:{String:id,flag:"3"},
            dataType: "html",
            cache:true,
            success:function(data){
                $('#toFlush').html(data);
                var list = document.getElementById('list');
                var form = document.getElementById('form');
                list.className = 'style_switch__item style_switch__item--select';
                form.className = 'style_switch__item_right';
            }
        });
    }
</script>
</head>
<body>
<div class="mod_songlist_toolbar">
    <a href="javascript:;" class="mod_btn_blue js_all_play"><i class="mod_btn_green__icon_play"></i><img src="../image/Index_image/mod_play.png" class="operate_btn" alt="play">播放全部</a>
    <a href="javascript:;" class="mod_btn js_all_fav"><i class="mod_btn__icon_add"></i><img src="../image/Index_image/mod_add.png" class="operate_btn" alt="add">添加到</a>
    <a href="javascript:;" class="mod_btn js_all_down"><i class="mod_btn__icon_down"></i><img src="../image/Index_image/mod_download.png" class="operate_btn" alt="download">下载</a>
    <a href="javascript:;" class="mod_btn js_batch"><i class="mod_btn__icon_batch"></i><img src="../image/Index_image/mod_multoperate.png" class="operate_btn" alt="operate">批量操作</a>
</div>
<ul class="songlist__header">
    <li class="songlist__header_name">歌单</li>
    <li class="songlist__header_album">曲目数</li>
    <li class="songlist__header_author">创建人</li>
    <li class="songlist__header_time">收藏数</li>
</ul>
<!--/*@thymesVar id="createdsonglist" type="java.util.HashMap"*/-->
<div th:each="list,iterStat:${songlist}">
    <ul th:class="${iterStat.odd}? 'songlistlist1 submeau_1' : 'songlistlist2 submeau_2'" th:onmouseover="'javascript:buttonShow(\''+${iterStat.index}+'\')'" th:onmouseout="'javascript:buttonhide(\''+${iterStat.index}+'\')'" >
        <li class="songlist__name" ><img th:src="@{'../image/SongList_image/album1.png'}" alt="songlist_cover" class="playlist__cover"><a th:text="${list.getSonglistname()}" th:href="@{'/SongList?songlistid='+${list.getSonglistid()}}"></a></li>
        <div class="songlist__btn" th:id="'oa_'+${iterStat.index}">
            <span><a href="javascript:;" th:onclick="playSongList([[${list.getSonglistid()}]])"><img src="../image/Index_image/play.png" alt="play" height="35px" width="35px" class="songlist_btn"/></a></span>
            <span><a href="javascript:;" th:onclick="KeepSonglist([[${list.getSonglistid()}]])"><img src="../image/Index_image/like.png" alt="like" height="35px" width="35px" class="songlist_btn"/></a></span>
            <span><a href="javascript:;"><img src="../image/Index_image/add.png" alt="add" height="35px" width="35px" class="songlist_btn"/></a></span>
        </div>
        <li class="songlist__album" th:text="${songnum.get(iterStat.index)}"></li>
        <li class="songlist__author" ><a th:text="${users[iterStat.index].getUsername()}" th:href="@{'/User?userid='+${users[iterStat.index].getUserid()}}"></a></li>
        <li class="songlist__time" th:text="${savenum.get(iterStat.index)}"></li>
    </ul>
</div>
</div>
</body>
</html>