<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.dao.CommentsMapper" >
  <resultMap id="commentsResultMap" type="com.example.demo.entity.comments" >
    <id column="USERID" property="userid" jdbcType="VARCHAR" />
    <id column="SONGID" property="songid" jdbcType="VARCHAR" />
    <id column="COMMENTTIME" property="commenttime" jdbcType="TIMESTAMP" />
    <result column="COMMENTTEXT" property="commenttext" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    USERID, SONGID, COMMENTTIME, COMMENTTEXT
  </sql>
  <select id="selectByExample" resultMap="commentsResultMap" parameterType="com.example.demo.entity.Example.commentsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from USERCOMMENTS
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="commentsResultMap" parameterType="com.example.demo.entity.commentsKey" >
    select 
    <include refid="Base_Column_List" />
    from USERCOMMENTS
    where USERID = #{userid,jdbcType=VARCHAR}
      and SONGID = #{songid,jdbcType=VARCHAR}
      and COMMENTTIME = #{commenttime,jdbcType=TIMESTAMP}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.example.demo.entity.commentsKey" >
    delete from USERCOMMENTS
    where USERID = #{userid,jdbcType=VARCHAR}
      and SONGID = #{songid,jdbcType=VARCHAR}
      and COMMENTTIME = #{commenttime,jdbcType=TIMESTAMP}
  </delete>
  <delete id="deleteByExample" parameterType="com.example.demo.entity.Example.commentsExample" >
    delete from USERCOMMENTS
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.example.demo.entity.comments" >
    insert into USERCOMMENTS (USERID, SONGID, COMMENTTIME, 
      COMMENTTEXT)
    values (#{userid,jdbcType=VARCHAR}, #{songid,jdbcType=VARCHAR}, #{commenttime,jdbcType=TIMESTAMP}, 
      #{commenttext,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.entity.comments" >
    insert into USERCOMMENTS
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userid != null" >
        USERID,
      </if>
      <if test="songid != null" >
        SONGID,
      </if>
      <if test="commenttime != null" >
        COMMENTTIME,
      </if>
      <if test="commenttext != null" >
        COMMENTTEXT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userid != null" >
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="songid != null" >
        #{songid,jdbcType=VARCHAR},
      </if>
      <if test="commenttime != null" >
        #{commenttime,jdbcType=TIMESTAMP},
      </if>
      <if test="commenttext != null" >
        #{commenttext,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.demo.entity.Example.commentsExample" resultType="java.lang.Integer" >
    select count(*) from USERCOMMENTS
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update USERCOMMENTS
    <set >
      <if test="record.userid != null" >
        USERID = #{record.userid,jdbcType=VARCHAR},
      </if>
      <if test="record.songid != null" >
        SONGID = #{record.songid,jdbcType=VARCHAR},
      </if>
      <if test="record.commenttime != null" >
        COMMENTTIME = #{record.commenttime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.commenttext != null" >
        COMMENTTEXT = #{record.commenttext,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update USERCOMMENTS
    set USERID = #{record.userid,jdbcType=VARCHAR},
      SONGID = #{record.songid,jdbcType=VARCHAR},
      COMMENTTIME = #{record.commenttime,jdbcType=TIMESTAMP},
      COMMENTTEXT = #{record.commenttext,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.entity.comments" >
    update USERCOMMENTS
    <set >
      <if test="commenttext != null" >
        COMMENTTEXT = #{commenttext,jdbcType=VARCHAR},
      </if>
    </set>
    where USERID = #{userid,jdbcType=VARCHAR}
      and SONGID = #{songid,jdbcType=VARCHAR}
      and COMMENTTIME = #{commenttime,jdbcType=TIMESTAMP}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.entity.comments" >
    update USERCOMMENTS
    set COMMENTTEXT = #{commenttext,jdbcType=VARCHAR}
    where USERID = #{userid,jdbcType=VARCHAR}
      and SONGID = #{songid,jdbcType=VARCHAR}
      and COMMENTTIME = #{commenttime,jdbcType=TIMESTAMP}
  </update>

  <select id="addComment" statementType="CALLABLE">
    call USER_PKG.add_comment(#{userid,mode=IN,jdbcType=VARCHAR},#{songid,mode=IN,jdbcType=VARCHAR},#{commenttext,mode=IN,jdbcType=VARCHAR},#{succ,mode=OUT,jdbcType=VARCHAR})
  </select>
  <select id="getComment" parameterType="java.util.HashMap" statementType="CALLABLE">
    call USER_PKG.get_comments(#{songid,mode=IN,jdbcType=VARCHAR},#{comments,mode=OUT,jdbcType=CURSOR,javaType=ResultSet,resultMap=commentsResultMap})
  </select>
</mapper>