<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.dao.SongListMapper" >
  <resultMap id="BaseResultMap" type="com.example.demo.entity.SongList" >
    <id column="SONGLISTID" property="songlistid" jdbcType="VARCHAR" />
    <result column="SONGLISTNAME" property="songlistname" jdbcType="VARCHAR" />
    <result column="SONGLISTIMAGE" property="songlistimage" jdbcType="VARCHAR" />
    <result column="ISPRIVATE" property="isprivate" jdbcType="CHAR" />
    <result column="USERID" property="userid" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    SONGLISTID, SONGLISTNAME, SONGLISTIMAGE, ISPRIVATE, USERID
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.example.demo.entity.Example.SongListExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from SONGLIST
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from SONGLIST
    where SONGLISTID = #{songlistid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from SONGLIST
    where SONGLISTID = #{songlistid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.example.demo.entity.Example.SongListExample" >
    delete from SONGLIST
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.example.demo.entity.SongList" >
    insert into SONGLIST (SONGLISTID, SONGLISTNAME, SONGLISTIMAGE, 
      ISPRIVATE, USERID)
    values (#{songlistid,jdbcType=VARCHAR}, #{songlistname,jdbcType=VARCHAR}, #{songlistimage,jdbcType=VARCHAR}, 
      #{isprivate,jdbcType=CHAR}, #{userid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.entity.SongList" >
    insert into SONGLIST
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="songlistid != null" >
        SONGLISTID,
      </if>
      <if test="songlistname != null" >
        SONGLISTNAME,
      </if>
      <if test="songlistimage != null" >
        SONGLISTIMAGE,
      </if>
      <if test="isprivate != null" >
        ISPRIVATE,
      </if>
      <if test="userid != null" >
        USERID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="songlistid != null" >
        #{songlistid,jdbcType=VARCHAR},
      </if>
      <if test="songlistname != null" >
        #{songlistname,jdbcType=VARCHAR},
      </if>
      <if test="songlistimage != null" >
        #{songlistimage,jdbcType=VARCHAR},
      </if>
      <if test="isprivate != null" >
        #{isprivate,jdbcType=CHAR},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.demo.entity.Example.SongListExample" resultType="java.lang.Integer" >
    select count(*) from SONGLIST
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update SONGLIST
    <set >
      <if test="record.songlistid != null" >
        SONGLISTID = #{record.songlistid,jdbcType=VARCHAR},
      </if>
      <if test="record.songlistname != null" >
        SONGLISTNAME = #{record.songlistname,jdbcType=VARCHAR},
      </if>
      <if test="record.songlistimage != null" >
        SONGLISTIMAGE = #{record.songlistimage,jdbcType=VARCHAR},
      </if>
      <if test="record.isprivate != null" >
        ISPRIVATE = #{record.isprivate,jdbcType=CHAR},
      </if>
      <if test="record.userid != null" >
        USERID = #{record.userid,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update SONGLIST
    set SONGLISTID = #{record.songlistid,jdbcType=VARCHAR},
      SONGLISTNAME = #{record.songlistname,jdbcType=VARCHAR},
      SONGLISTIMAGE = #{record.songlistimage,jdbcType=VARCHAR},
      ISPRIVATE = #{record.isprivate,jdbcType=CHAR},
      USERID = #{record.userid,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.entity.SongList" >
    update SONGLIST
    <set >
      <if test="songlistname != null" >
        SONGLISTNAME = #{songlistname,jdbcType=VARCHAR},
      </if>
      <if test="songlistimage != null" >
        SONGLISTIMAGE = #{songlistimage,jdbcType=VARCHAR},
      </if>
      <if test="isprivate != null" >
        ISPRIVATE = #{isprivate,jdbcType=CHAR},
      </if>
      <if test="userid != null" >
        USERID = #{userid,jdbcType=VARCHAR},
      </if>
    </set>
    where SONGLISTID = #{songlistid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.entity.SongList" >
    update SONGLIST
    set SONGLISTNAME = #{songlistname,jdbcType=VARCHAR},
      SONGLISTIMAGE = #{songlistimage,jdbcType=VARCHAR},
      ISPRIVATE = #{isprivate,jdbcType=CHAR},
      USERID = #{userid,jdbcType=VARCHAR}
    where SONGLISTID = #{songlistid,jdbcType=VARCHAR}
  </update>
</mapper>